@font-face {
    font-family: 'exo2';
    src: url('../fonts/exo2-bold.eot');
    src: url('../fonts/exo2-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-bold.woff2') format('woff2'),
         url('../fonts/exo2-bold.woff') format('woff'),
         url('../fonts/exo2-bold.ttf') format('truetype'),
         url('../fonts/exo2-bold.svg#exo2') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'exo2';
    src: url('../fonts/exo2-extrabold.eot');
    src: url('../fonts/exo2-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-extrabold.woff2') format('woff2'),
         url('../fonts/exo2-extrabold.woff') format('woff'),
         url('../fonts/exo2-extrabold.ttf') format('truetype'),
         url('../fonts/exo2-extrabold.svg#exo2') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'exo2';
    src: url('../fonts/exo2-light.eot');
    src: url('../fonts/exo2-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-light.woff2') format('woff2'),
         url('../fonts/exo2-light.woff') format('woff'),
         url('../fonts/exo2-light.ttf') format('truetype'),
         url('../fonts/exo2-light.svg#exo2') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'exo2';
    src: url('../fonts/exo2-regular.eot');
    src: url('../fonts/exo2-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-regular.woff2') format('woff2'),
         url('../fonts/exo2-regular.woff') format('woff'),
         url('../fonts/exo2-regular.ttf') format('truetype'),
         url('../fonts/exo2-regular.svg#exo2') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'exo2';
    src: url('../fonts/exo2-semibold.eot');
    src: url('../fonts/exo2-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-semibold.woff2') format('woff2'),
         url('../fonts/exo2-semibold.woff') format('woff'),
         url('../fonts/exo2-semibold.ttf') format('truetype'),
         url('../fonts/exo2-semibold.svg#exo2') format('svg');
    font-weight: 600;
    font-style: normal;

}