//@import '../vendor/_reset.scss';
//@import '../vendor/fonts.css';
@import '_variables.scss';
#stickyheader {
    box-shadow: 0px 4px 5px 0.00px rgba(0, 0, 0, 0.19);
    display: none;
    //    position: absolute;
    //    top: 0;
    ul {
        width: 100%;
        text-align: center;
        li {
            display: inline-block;
            width: 24%;
            border-right: 1px solid #ededed;
            &:last-child {
                border-right: none;
            }
            a {
                color: #303030;
                font: 400 14px / 18px Exo2;
                padding-top: 13px;
                padding-bottom: 13px;
                display: block;
                text-decoration: none;
            }
        }
    }
}

.b_info {
    background-color: #fff;
    position: relative;
    padding-top: 33px;
    padding-bottom: 27px;
    width: 320px;
    margin: 0 auto;
    .logo {
        background: url(../images/logo.png);
        width: 125px;
        height: 63px;
        display: inline-block;
        margin-right: 15px;
        text-align: left;
    }
    .title {
        color: #0084ff;
        font: 600 14px / 14px Exo2;
        position: absolute;
        top: 12px;
        display: block;
    }
    .info-tel {
        width: 150px;
        display: inline-block;
        .time {
            color: #606060;
            font: 300 12px / 18px Exo2;
            span {
                color: #202020;
                font: 600 12px / 18px Exo2;
            }
        }
        .tel {
            position: relative;
            a {
                color: $blue;
                font: 600 14px / 18px Exo2;
                text-align: left;
                padding-left: 37px;
                position: relative;
                text-decoration: none;
            }
            &:before {
                background: url(../images/icon_tel.png);
                content: "";
                display: block;
                width: 30px;
                height: 31px;
                position: absolute;
                left: 0;
                top: 5px;
            }
        }
    }
    .btn-blue {
        color: #ffffff;
        font: 400 18px / 24px Exo2;
        background-color: $blue;
        box-shadow: 0 3px 0 0 #0057b9;
        padding: 18px 40px;
        margin-top: 20px;
    }
}

input {
    height: 62px;
}

.s-commercial {
    background: url(../images/bg_s_main-mob.png);
    padding-top: 63px;
    padding-bottom: 30px;
    background-size: cover;
    .s-commercial_top {
        background: rgba(255, 255, 255, 0.8);
        padding-top: 17px;
        padding-bottom: 13px;
        .s-commercial_top_title {
            font: 700 24px / 30px Exo2;
            text-transform: uppercase;
            color: $blue;
            span {
                color: #303030;
                font: 700 24px / 30px Exo2;
            }
        }
        p {
            color: #303030;
            font: 500 18px / 24px Exo2;
            line-height: 12px;
            span {
                color: $blue;
                font: 700 18px / 24px Exo2;
                text-decoration: underline;
            }
        }
    }
}

.s-bullets_top {
    //    background-color: #fff;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding-bottom: 35px;
    .item {
        display: inline-block;
        width: 105px;
        color: #303030;
        font: 600 14px / 18px Open Sans;
        vertical-align: top;
        margin: 15px 20px;
        box-sizing: border-box;
        text-align: center;
        background-size: contain;
    }
    .icon {
        width: 108px;
        height: 108px;
        display: block;
    }
    .item1 {
        background: url(../images/icon_s-bullets_top_i3.png);
    }
    .item2 {
        background: url(../images/icon_s-bullets_top_i4.png);
    }
    .item3 {
        background: url(../images/icon_s-bullets_top_i2.png);
    }
    .item4 {
        background: url(../images/icon_s-bullets_top_i1.png);
    }
    span {
        text-align: center;
    }
}

.s-stock {
    border: 4px solid #ffc000;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 20px 6px;
    .text {
        text-align: center;
        span {
            color: #0084ff;
            background-color: #fff;
            font: 700 36px / 60px Exo2;
            text-transform: uppercase;
            padding: 0 20px;
        }
    }
    .attention-top {
        margin-top: -60px
    }
    .attention-bottom {
        margin-bottom: -85px;
    }
    .title {
        color: #303030;
        font: 700 18px / 24px Exo2;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        padding: 0 40px;
        margin-bottom: 25px;
    }
}
.b-stock-list{
    font-size: 0;
    .item {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        margin-bottom: 25px;
        width: 50%;
        font-size: 16px;
        font-weight: 700;
        font-family: exo2;
        line-height: 2;
    }
    .icon {
        width: 46px;
        height: 46px;
        display: block;
        text-align: center;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    .item1 {
        background: url(../images/icon_s-stock_i1.png) no-repeat;
    }
    .item2 {
        background: url(../images/icon_s-stock_i2.png) no-repeat;
    }
    .item3 {
        background: url(../images/icon_s-stock_i3.png) no-repeat;
    }
    .item4 {
        background: url(../images/icon_s-stock_i4.png) no-repeat;
    }
}

.s-discount {
    color: $blue;
    font: 700 18px / 30px Exo2;
    text-transform: uppercase;
    background-color: #fff;
    padding-top: 40px;
    .text {
        margin-bottom: 13px;
        .text_1 {
            color: #ffc000;
            font: 700 28px / 30px Exo2;
        }
        .text_2 {
            font: 700 24px / 30px Exo2;
            ;
        }
    }
    p {
        color: #303030;
        font: 300 18px / 18px Exo2;
        text-transform: none;
    }
}

.send-btn {
    color: #202020;
    font: 700 18px / 60px Exo2!important;
    padding: 0px 20px!important;
}

.s-get-calc {
    text-transform: uppercase;
    padding-top: 36px;
    padding-left: 5px;
    padding-right: 5px;
    background: url(../images/bg_structure.png);
    margin: 0 auto;
    .f-get-calc {
        background-color: rgba(51, 153, 255, 0.7);
        padding: 10px 10px;
        border-radius: 3px;
        text-align: justify;
        max-width: 320px;
        .title {
            color: #303030;
            font: 700 18px / 30px Exo2;
        }
        .inp {
            display: inline-block;
        }
        &:second-child input {
            margin: 0 4px;
        }
        input {
            height: 62px;
            padding-left: 23px;
            border-radius: 3px;
        }
        .input_small {
            height: 62px;
            width: 92px;
            display: inline-block;
            padding-left: 13px;
        }
        p {
            text-align: center;
        }
    }
    span {
        color: $blue;
        font: 700 18px / 30px Exo2;
    }
    .today {
        color: #303030;
        font: 700 18px / 30px Exo2;
        text-transform: none;
        .c_blue {
            color: $blue;
            font: 700 24px / 30px Exo2;
            text-transform: uppercase;
        }
        .c_yellow {
            color: $yellow;
            font: 700 24px / 30px Exo2;
            text-transform: uppercase;
        }
    }
    .send-btn {
        padding: 0px 5px !important;
    }
}

.blu_bg {
    background-color: rgba(51, 153, 255, 0.7);
    padding: 5px 10px;
    border-radius: 3px;
    input {
        margin-bottom: 10px;
        padding-left: 23px;
    }
}

.s-main-form {
    padding-left: 5px;
    padding-right: 5px;
    background: url(../images/bg_s-main-form.png) no-repeat;
    .tit {
        color: $blue;
        font: 700 18px / 24px Exo2;
        text-transform: uppercase;
        margin-bottom: 10px;
        span {
            text-transform: none;
            color: #303030;
            font: 700 18px / 24px Exo2;
        }
    }
    .gift {
        color: $blue;
        font: 700 24px / 24px Exo2;
        text-transform: uppercase;
        margin-bottom: 12px;
        span {
            color: $yellow;
            font: 700 24px / 30px Exo2;
        }
    }
    img {
        margin-bottom: 28px;
    }
}

.s-about {
    background: url(../images/bg_structure.png);
    padding: 0 5px 50px;
    .tit {
        color: $blue;
        font: 700 24px / 30px Exo2;
        text-transform: uppercase;
        padding-top: 27px;
        margin-bottom: 19px;
    }
    .image {
        background: url(../images/mob_line.png);
        height: 12px;
        width: 300px;
        margin: 0 auto 20px;
    }
    p {
        color: #303030;
        font: 400 18px / 24px Exo2;
        margin-bottom: 17px;
    }
    ul {
        margin: 0 auto;
        a {
            text-decoration: none;
            color: #303030;
            font: 300 14px / 18px Exo2;
        }
        li {
            position: relative;
            padding-left: 50px;
            line-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: left;
            &:before {
                content: url(../images/mark.png);
                display: inline-block;
                width: 37px;
                height: 37px;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                text-align: center;
                line-height: 40px;
            }
        }
    }
}

.b-map-adr {
    background-color: $blue;
    color: #fff;
    padding: 31px;
    padding-top: 24px;
    text-align: left;
    .title {
        font: 400 18px / 30px Exo2;
        color: #ffc000;
        text-align: center;
        margin-bottom: 34px;
        text-transform: uppercase;
    }
    .adr,
    .tel,
    .mail {
        padding-left: 34px;
    }
    .b-adr-item {
        display: inline-block;
        vertical-align: middle;
    }
    .adr {
        position: relative;
        margin-bottom: 22px;
        &:before {
            background: url(../images/icon_map.png);
            content: "";
            width: 17px;
            height: 26px;
            position: absolute;
            display: block;
            left: 0;
            top: 5px;
        }
    }
    .tel {
        position: relative;
        font: 500 24px / 24px Exo2;
        margin-bottom: 23px;
        &:before {
            background: url(../images/icon_tel_small.png);
            content: "";
            width: 20px;
            height: 21px;
            position: absolute;
            display: block;
            left: 0;
            top: 15px;
        }
    }
    .mail {
        position: relative;
        font: 400 18px / 18px Open Sans;
        margin-bottom: 18px;
        &:before {
            background: url(../images/icon_mail.png);
            content: "";
            width: 23px;
            height: 17px;
            position: absolute;
            display: block;
            left: 0;
            top: 2px;
        }
    }
    p {
        font: 400 18px / 24px Exo2;
    }
}

.s-footer-form {
    background: url(../images/bg_structure.png);
    padding-bottom: 50px;
    input {
        background-color: #ffffff;
        padding-left: 23px;
        margin-bottom: 15px;
        height: 62px;
    }
    input + input {
        margin-bottom: 27px;
    }
    .title {
        margin-bottom: 19px;
        text-transform: none;
        color: #303030;
        font: 600 24px / 30px Exo2;
    }
}

input[type="text"]::-webkit-input-placeholder {
    color: #808080;
    font: 300 18px / 18px Exo2;
}

.s-footer-info {
    .title {
        text-transform: none;
    }
}

.hidden-sm {
    display: none !important;
}

@media (min-width: 480px) {}

@media (min-width: 768px) {
    .hidden-sm {
        display: block!important;
    }
    .hidden-md {
        display: none;
    }
    .b_info {
        width: 100%;
        padding-top: 5px;
    }
    .btn-blue {
        margin-top: 5px!important;
        vertical-align: top;
        width: 249px;
        padding: 18px 15px!important;
        color: #ffffff;
    }
    .b_info {
        .logo {
            margin-right: 26px;
        }
        .title {
            position: relative;
            display: inline-block;
            width: 122px;
            vertical-align: top;
            text-align: left;
            margin-right: 15px;
        }
        .info-tel {
            margin-right: 20px;
        }
    }
    .s-main-top {
        background: url(../images/bg-s-main.jpg) bottom no-repeat;
        padding-top: 54px;
        min-height: 800px;
        background-size: cover;
    }
    .s-top-title {
        color: $blue;
        font: 700 34px / 30px Exo2;
        text-transform: uppercase;
        .text_1 {
            color: #404040;
            font: 700 24px / 30px Exo2;
            text-transform: none;
        }
        .text_2 {
            color: #404040;
            font: 700 24px / 30px Exo2;
            text-transform: none;
        }
        i {
            color: $blue;
            font: 700 24px / 30px Exo2;
            text-decoration: underline;
            background: url(../images/MergedLayers.png);
        }
    }
    .s-stock {
        margin: 20px auto 0;
        width: 450px;
        border: 6px solid #ffc000;
        margin-bottom: 30px;
        .container {
            width: 400px;
        }
        .b-item-list {
            .item {
                text-align: left;
                span {
                    vertical-align: middle;
                }
            }
        }
        .icon {
            display: inline-block;
            margin-right: 16px;
            vertical-align: middle;
        }
        .attention-top,
        .attention-bottom {
            text-align: left;
        }
    }
    .s-bullets_top {
        position: relative;
        .b-bullets {
            z-index: 20;
            span {
                color: $blue;
                font: 600 15.79px / 18px Open Sans;
            }
            .icon {
                margin-bottom: 5px;
            }
            .b-frame {
                width: 750px;
                height: 111px;
                border: 3px solid $blue;
                top: 120px;
                z-index: 1;
                background-color: rgba(255, 255, 255, 0.5);
                margin: 0 auto;
                margin-top: -150px;
            }
            .icon {
                width: 97px;
                height: 96px;
                box-sizing: border-box;
                                background-size: contain;

            }
            .item {
                                background-size: contain;

            }
        }
    }
    .b-map-adr {
        max-width: 420px;
    }
    .s-discount {
        font: 700 28px / 36px Exo2;
        padding-top: 40px;
        .text {
            margin-bottom: 13px;
            .text_1 {
                font: 700 28px / 30px Exo2;
            }
            .text_2 {
                font: 700 24px / 30px Exo2;
                ;
            }
        }
        p {
            font: 300 24px / 24px Exo2;
        }
    }
    .b-form {
        .f-get-calc {
            max-width: 100%;
        }
        input {
            width: 227px;
            margin-right: 7px;
        }
        button {
            width: 291px;
            vertical-align: top;
        }
        .f-get-calc {
            input {
                padding-left: 24px;
            }
        }
    }
}

@media (min-width: 992px) {}