.b_info .btn-blue {
  padding: 18px 5px;
  margin: 20px 0 0;
  width: 100%;
  display: block;
  border-radius: 5px; }

.s-main-top {
  padding-top: 0; }

.s-commercial {
  padding: 60px 0; }

.s-bullets_top {
  padding-top: 50px; }

.b-bullets {
  font-size: 0; }

.s-bullets_top .item {
  width: 50%;
  margin: 0;
  padding: 20px 10px; }

.s-bullets_top .icon {
  margin: 0 auto 10px; }

.b-stock-list .item {
  text-align: center;
  font-weight: 600; }

.f-get-calc .btn {
  width: 100%;
  margin-bottom: 0;
  font-size: 17px; }

.b-bull-list .title {
  position: relative; }

.b-bull-list .title:after {
  position: absolute;
  content: '';
  width: 10%;
  height: 4px;
  background: #0084ff;
  bottom: -10px;
  left: 45%; }

.s-bull .b-bull-wrap {
  padding: 10px 40px 0; }

.s-types .s-title {
  font-size: 23px;
  line-height: 1; }

.s-get-calc {
  padding-bottom: 40px; }
  .s-get-calc span {
    color: inherit;
    font: inherit; }
  .s-get-calc .today .br {
    display: block; }
  .s-get-calc .title {
    font: 700 18px / 30px Exo2; }
  .s-get-calc .img {
    background: url(../images/s-get-calc_window.jpg) left no-repeat;
    background-size: contain; }
  .s-get-calc .f-get-calc .input_small {
    width: 100%;
    display: block;
    padding: 17px 5px;
    height: auto;
    line-height: 1;
    margin-bottom: 7px; }
  .s-get-calc .f-get-calc .inp {
    width: 31.33%;
    margin-left: 2%; }
  .s-get-calc .f-get-calc .inp:first-child {
    margin-left: 0; }

.s-reviews {
  border-top: 1px solid #E2E2E2; }

.s-reviews .item .b_done ul li {
  font-size: 13px;
  margin-bottom: 10px; }

.s-form-2 .title span {
  color: inherit; }
.s-form-2 .title .br {
  display: block; }
.s-form-2 .title .c_yellow {
  color: #ffc000; }

.s-main-form img {
  border: 1px solid #C1C1C1; }
.s-main-form .tit span {
  font-size: 17px; }
.s-main-form .gift {
  font-size: 23px; }
  .s-main-form .gift span {
    font-size: inherit; }

.s-main-form {
  padding: 20px 0;
  position: relative;
  overflow: hidden; }

.s-main-form:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 220px 260px white; }

.s-main-form .container {
  position: relative;
  z-index: 1; }

.s-map {
  padding: 0; }

.b-map {
  height: 400px;
  overflow: hidden; }

.b-adr {
  max-width: 250px;
  margin: 0 auto; }

.b-map-adr-wrap {
  background-color: rgba(0, 132, 255, 0.8); }

.b-map-adr {
  background: none; }

.s-discount .text .text_1 {
  display: block; }

.s-how-many .itm {
  display: block;
  border: none; }
.s-how-many .tit {
  margin: 20px 0; }

.b-how-many-list .itm {
  border: 3px solid #0084ff; }
.b-how-many-list-wrap {
  margin: 20px 40px; }
.b-how-many-list .owl-nav {
  top: 50%;
  margin-top: -20px;
  left: -46px;
  right: -46px; }
.b-how-many-list .owl-nav .owl-prev {
  background: url(../images/arr_yellow_small.png);
  width: 43px;
  height: 42px; }
.b-how-many-list .owl-nav .owl-next {
  background: url(../images/arr_yellow_small.png);
  width: 43px;
  height: 42px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.b-how-many-list .s-footer-form {
  padding: 20px 0; }

@media (min-width: 768px) {
  .b_info {
    font-size: 0;
    padding-bottom: 20px; }
    .b_info .logo {
      width: 20%;
      margin-right: 1%;
      vertical-align: middle; }
    .b_info .title {
      width: 19%;
      margin-right: 1%;
      vertical-align: middle;
      top: 0; }
    .b_info .info-tel {
      width: 23%;
      margin-right: 1%;
      vertical-align: middle; }
    .b_info .btn-blue {
      width: 35%;
      margin: 0;
      vertical-align: middle;
      display: inline-block; }

  .s-top-title {
    padding-top: 50px; }

  .s-bullets_top .b-bullets .item {
    top: -70px; }
  .s-bullets_top .b-bullets span {
    font-size: 14px; }

  .s-stock {
    margin-top: 60px; }
    .s-stock .attention-top,
    .s-stock .attention-bottom {
      margin-left: 20px; }

  .s-discount .text .text_0 {
    display: block; }
  .s-discount .text .text_1 {
    display: inline-block; }

  .f-get-calc .btn {
    width: 290px; }
  .f-get-calc input {
    padding: 10px 12px; }

  .b-bull-wrap .owl-nav {
    left: -73px;
    right: -73px;
    top: 80px; }

  .s-types {
    padding: 20px 0; }
    .s-types .s-title {
      font-size: 48px; }

  .s-hello {
    padding-top: 0; }

  .s-get-calc .img {
    display: inline-block;
    vertical-align: top; }
  .s-get-calc .f-calc-second {
    display: inline-block;
    vertical-align: top; }
  .s-get-calc .title {
    font-size: 36px;
    margin-bottom: 20px; }
  .s-get-calc .today {
    margin-top: 20px; }
    .s-get-calc .today .br {
      display: inline-block;
      font-size: 24px;
      margin-right: 8px; }

  .s-services {
    padding-top: 10px; }

  .s-form-2 .title {
    font-size: 24px;
    margin-bottom: 20px; }
    .s-form-2 .title .br {
      display: inline-block; }

  .s-main-form img {
    float: left; }

  .s-about p {
    font-size: 24px;
    margin-bottom: 20px; }

  .b-sert-wrap {
    position: relative;
    padding-top: 40px; }

  .b-sert-wrap:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 15px;
    background: url(../images/line-grey.png) center no-repeat; }

  .b-sert {
    font-size: 0; }
    .b-sert .item {
      width: 30.33%;
      margin: 0 1%; }

  .s-map .b-map-adr {
    top: 0;
    left: 50%;
    margin-left: -384px;
    bottom: 0; }

  .b-map {
    height: 670px; }

  .b-adr-img {
    background: url(../images/s-map-office.jpg);
    height: 315px;
    width: 420px;
    position: absolute;
    bottom: 0;
    left: 0; }

  .s-how-many {
    padding-bottom: 50px; }

  .b-how-many-list-wrap {
    max-width: 500px;
    margin: 0 auto; }

  .b-how-many-list .owl-nav {
    left: -85px;
    right: -85px; }

  .s-footer-form {
    padding: 40px 0 20px; }

  .s-reviews .owl-nav {
    right: calc(50% + 45px); }

  .s-form-2 {
    padding: 40px 0; } }
@media (min-width: 992px) {
  .s-main-top {
    background: url(../images/bg-s-how-many-big.jpg) bottom no-repeat;
    background-size: cover; }

  .s-top-title {
    margin-bottom: 100px; }
    .s-top-title .text_1,
    .s-top-title .text_2 {
      font-weight: 400;
      line-height: inherit;
      font-size: 35px; }
      .s-top-title .text_1 i,
      .s-top-title .text_2 i {
        font-size: inherit; }

  .s-top-title-txt {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    font-size: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1; }

  .s-bullets_top .b-bullets span {
    font-size: 18px; }

  .promo {
    margin: 50px 0; }

  .s-stock .title {
    font-size: 24px;
    padding: 0;
    margin-top: 20px; }
  .s-stock .text span {
    font-size: 48px; }

  .b-stock-list {
    margin: 20px 0; }

  .s-discount {
    text-align: left;
    margin-left: 40px; }
    .s-discount .text {
      line-height: 1; }
      .s-discount .text > span {
        display: block; }
      .s-discount .text .text_0 {
        font-size: 24px;
        line-height: inherit; }
      .s-discount .text .text_1,
      .s-discount .text .text_2 {
        font-size: 36px;
        line-height: inherit; }

  .s-form-1 {
    margin-left: 40px;
    margin-right: 40px;
    padding: 0; }
    .s-form-1 .b-form .items {
      margin: 0; }
    .s-form-1 .f-get-calc input {
      width: 100%;
      margin: 0 0 5px; }
    .s-form-1 .f-get-calc button {
      width: 100%;
      font-size: 24px;
      font-weight: 600;
      padding: 20px 5px !important; }

  .s-bull {
    padding: 60px 0; }
    .s-bull .b-bull-wrap {
      padding: 40px 10px; }
      .s-bull .b-bull-wrap .owl-nav {
        left: -43px;
        right: -43px; }

  .b-types-list .item {
    width: 20%; }

  .s-hello .s-title {
    margin: 20px 0 40px; }
    .s-hello .s-title .small {
      font-size: 48px; }

  .s-get-calc {
    font-size: 0; }
    .s-get-calc .img {
      width: 41%;
      height: 280px;
      margin: 0 5% 0 0;
      background-position: left, top; }
    .s-get-calc .f-calc-second {
      width: 54%;
      max-width: none;
      margin: 0;
      padding: 40px; }
      .s-get-calc .f-calc-second .inp,
      .s-get-calc .f-calc-second > input {
        margin: 0;
        width: 49%; }
      .s-get-calc .f-calc-second input[type=text] {
        padding-left: 20px; }
      .s-get-calc .f-calc-second button {
        margin: 0;
        width: 100%;
        font-size: 24px; }

  .s-reviews .item .b_feedback .feedback_txt {
    background: white;
    padding: 20px;
    box-shadow: 0 2px 2px grey;
    margin-bottom: 20px; }
  .s-reviews .item .b_done .b_done_title {
    font-size: 24px; }
  .s-reviews .item .b_done ul li {
    font-size: 18px;
    font-family: 'exo2';
    margin-bottom: 0; }
  .s-reviews .item .b_done .gift {
    margin-bottom: 10px; }

  .s-main-form img {
    max-height: 140px;
    width: auto;
    margin: 0; }
  .s-main-form .txt-wrap {
    text-align: left;
    margin: 0;
    white-space: nowrap;
    line-height: 1.2; }
    .s-main-form .txt-wrap .tit {
      margin: 0;
      font-size: 38px;
      line-height: inherit; }
      .s-main-form .txt-wrap .tit span {
        font-size: 34px; }
    .s-main-form .txt-wrap .gift {
      font-size: 46px; }
      .s-main-form .txt-wrap .gift span {
        font-size: inherit; }
  .s-main-form:after {
    box-shadow: 0 0 100px 50px white; }

  .b-main-form-header {
    margin: 40px 0; }

  .s-about {
    padding: 40px 0 60px; }
    .s-about p {
      font-size: 36px;
      margin: 30px 0; }
    .s-about .b-about {
      font-size: 0; }
      .s-about .b-about .itm {
        font-size: 16px;
        width: 50%;
        display: inline-block;
        vertical-align: top; }
      .s-about .b-about ul li {
        font-size: 18px;
        margin-bottom: 30px;
        padding-left: 60px; }

  .s-title {
    font-size: 48px; }

  .s-footer-form {
    padding: 70px 0 40px; }

  .s-footer-form .title {
    font-size: 36px;
    margin-bottom: 30px; } }

/*# sourceMappingURL=main-rasik-fix.css.map */
