#stickyheader {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.19);
  display: none; }
  #stickyheader ul {
    width: 100%;
    text-align: center; }
    #stickyheader ul li {
      display: inline-block;
      width: 24%;
      border-right: 1px solid #ededed; }
      #stickyheader ul li:last-child {
        border-right: none; }
      #stickyheader ul li a {
        color: #303030;
        font: 400 14px / 18px Exo2;
        padding-top: 13px;
        padding-bottom: 13px;
        display: block;
        text-decoration: none; }

.b_info {
  background-color: #fff;
  position: relative;
  padding-top: 33px;
  padding-bottom: 27px;
  width: 320px;
  margin: 0 auto; }
  .b_info .logo {
    background: url(../images/logo.png) center no-repeat;
    width: 125px;
    height: 63px;
    display: inline-block;
    margin-right: 15px;
    text-align: left; }
  .b_info .title {
    color: #0084ff;
    font: 600 14px / 14px Exo2;
    position: absolute;
    top: 12px;
    display: block; }
  .b_info .info-tel {
    width: 150px;
    display: inline-block; }
    .b_info .info-tel .time {
      color: #606060;
      font: 300 12px / 18px Exo2; }
      .b_info .info-tel .time span {
        color: #202020;
        font: 600 12px / 18px Exo2; }
    .b_info .info-tel .tel {
      position: relative; }
      .b_info .info-tel .tel a {
        color: #0084ff;
        font: 600 14px / 18px Exo2;
        text-align: left;
        padding-left: 37px;
        position: relative;
        text-decoration: none; }
      .b_info .info-tel .tel:before {
        background: url(../images/icon_tel.png) center no-repeat;
        content: "";
        display: block;
        width: 30px;
        height: 31px;
        position: absolute;
        left: 0;
        top: 5px; }
  .b_info .btn-blue {
    color: #ffffff;
    font: 400 18px / 24px Exo2;
    background-color: #0084ff;
    box-shadow: 0 3px 0 0 #0057b9;
    padding: 18px 40px;
    margin-top: 20px; }

input {
  height: 62px; }

.s-form-1 button,
.s-form-2 button,
.s-main-form button {
  width: 291px;
  vertical-align: top;
  background-color: #ffc000;
  box-shadow: 1px 2px 2px #898511; }

.s-commercial {
  background: url(../images/bg_s_main-mob.png);
  padding-top: 63px;
  padding-bottom: 30px;
  background-size: cover; }
  .s-commercial .s-commercial_top {
    background: rgba(255, 255, 255, 0.8);
    padding-top: 17px;
    padding-bottom: 13px; }
    .s-commercial .s-commercial_top .s-commercial_top_title {
      font: 700 24px / 30px Exo2;
      text-transform: uppercase;
      color: #0084ff; }
      .s-commercial .s-commercial_top .s-commercial_top_title span {
        color: #303030;
        font: 700 24px / 30px Exo2; }
    .s-commercial .s-commercial_top p {
      color: #303030;
      font: 500 18px / 24px Exo2;
      line-height: 12px; }
      .s-commercial .s-commercial_top p span {
        color: #0084ff;
        font: 700 18px / 24px Exo2;
        text-decoration: underline; }

.s-bullets_top {
  font-size: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding-bottom: 35px; }
  .s-bullets_top .item {
    display: inline-block;
    width: 105px;
    color: #303030;
    font: 600 14px / 18px Open Sans;
    vertical-align: top;
    margin: 15px 20px;
    box-sizing: border-box;
    text-align: center;
    background-size: contain; }
  .s-bullets_top .icon {
    width: 108px;
    height: 108px;
    display: block; }
  .s-bullets_top .item1 {
    background: url(../images/icon_s-bullets_top_i3.png) center no-repeat; }
  .s-bullets_top .item2 {
    background: url(../images/icon_s-bullets_top_i4.png) center no-repeat; }
  .s-bullets_top .item3 {
    background: url(../images/icon_s-bullets_top_i2.png) center no-repeat; }
  .s-bullets_top .item4 {
    background: url(../images/icon_s-bullets_top_i1.png) center no-repeat; }
  .s-bullets_top span {
    text-align: center; }

.s-stock {
  border: 4px solid #ffc000;
  padding-top: 30px;
  padding-bottom: 50px;
  margin: 20px 6px; }
  .s-stock .text {
    text-align: center; }
    .s-stock .text span {
      color: #0084ff;
      background-color: #fff;
      font: 700 36px / 60px Exo2;
      text-transform: uppercase;
      padding: 0 20px; }
  .s-stock .attention-top {
    margin-top: -60px; }
  .s-stock .attention-bottom {
    margin-bottom: -85px; }
  .s-stock .title {
    color: #303030;
    font: 700 18px / 24px Exo2;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0 40px;
    margin-bottom: 25px; }

.b-stock-list {
  font-size: 0; }
  .b-stock-list .item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 25px;
    width: 50%;
    font-size: 16px;
    font-weight: 700;
    font-family: exo2;
    line-height: 2;
    text-align: left; }
  .b-stock-list .icon {
    width: 46px;
    height: 46px;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0 auto; }
  .b-stock-list .item1 {
    background: url(../images/icon_s-stock_i1.png) no-repeat; }
  .b-stock-list .item2 {
    background: url(../images/icon_s-stock_i2.png) no-repeat; }
  .b-stock-list .item3 {
    background: url(../images/icon_s-stock_i3.png) no-repeat; }
  .b-stock-list .item4 {
    background: url(../images/icon_s-stock_i4.png) no-repeat; }

.s-types .s-title {
  color: #303030;
  font: 700 36px / 60px Exo2; }
.s-types .b-types-list .item .title {
  text-transform: uppercase;
  font: 700 18px / 18px Exo2;
  color: #0084ff;
  margin-bottom: 20px; }
.s-types .b-types-list .item .img {
  background-repeat: no-repeat !important;
  margin: 0 auto;
  margin-bottom: 10px; }
.s-types .b-types-list .item .i_1 {
  background: url(../images/w_1.png) center no-repeat;
  width: 110px;
  height: 115px; }
.s-types .b-types-list .item .i_2 {
  background: url(../images/w_2.png) center no-repeat;
  width: 164px;
  height: 115px; }
.s-types .b-types-list .item .i_3 {
  background: url(../images/w_3.png) center no-repeat;
  width: 145px;
  height: 115px; }
.s-types .b-types-list .item .i_4 {
  background: url(../images/w_4.png) center no-repeat;
  width: 122px;
  height: 115px; }
.s-types .b-types-list .item .i_5 {
  background: url(../images/w_5.png) center no-repeat;
  width: 84px;
  height: 115px; }
.s-types .b-types-list .item .price {
  color: #303030;
  font: 600 18px / 18px Exo2;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px; }
.s-types .b-types-list .item .rub {
  display: inline-block;
  width: 13px;
  height: 13px;
  left: 130px;
  top: 3px;
  background: url(../images/ruble.png) center no-repeat;
  margin-left: 2px; }
.s-types .b-types-list .item button {
  background-color: #ffc000; }

.b-bull-list .title {
  color: #202020;
  font: 700 18px / 30px Exo2;
  text-transform: uppercase;
  margin-bottom: 33px; }
.b-bull-list .item .txt span {
  color: #303030;
  font: 700 16px / 24px Exo2; }
.b-bull-list .item .icon {
  margin: 0 auto;
  vertical-align: top;
  margin-bottom: 20px; }
.b-bull-list .item .i_1 {
  background: url(../images/s-bull_i_1.png) center no-repeat;
  width: 58px;
  height: 45px; }
.b-bull-list .item .i_2 {
  background: url(../images/s-bull_i_2.png) center no-repeat;
  width: 100px;
  height: 45px; }
.b-bull-list .item .i_3 {
  background: url(../images/s-bull_i_3.png) center no-repeat;
  height: 45px;
  width: 44px; }
.b-bull-list .item .i_4 {
  background: url(../images/s-bull_i_4.png) center no-repeat;
  width: 37px;
  height: 49px; }
.b-bull-list .item .i_5 {
  background: url(../images/s-bull_i_5.png) center no-repeat;
  width: 49px;
  height: 45px; }
.b-bull-list .item .i_6 {
  background: url(../images/s-bull_i_3.png) center no-repeat;
  height: 45px;
  width: 44px; }

.s-discount {
  color: #0084ff;
  font: 700 18px / 30px Exo2;
  text-transform: uppercase;
  background-color: #fff; }
  .s-discount .text {
    margin-bottom: 13px; }
    .s-discount .text .text_1 {
      color: #ffc000;
      font: 700 28px / 30px Exo2; }
    .s-discount .text .text_2 {
      font: 700 24px / 30px Exo2; }
  .s-discount p {
    color: #303030;
    font: 300 18px / 18px Exo2;
    text-transform: none; }

.f-get-calc .btn {
  color: #202020;
  font: 700 18px/18px Exo2 !important;
  padding: 20px !important;
  background-color: #ffc000;
  box-shadow: 1px 2px 2px #898511; }

.s-get-calc {
  text-transform: uppercase;
  padding-top: 36px;
  padding-left: 5px;
  padding-right: 5px;
  background: url(../images/bg_structure_big.jpg) center no-repeat;
  background-size: cover;
  margin: 0 auto; }
  .s-get-calc .f-get-calc {
    background-color: rgba(51, 153, 255, 0.7);
    padding: 10px 10px;
    border-radius: 3px;
    text-align: justify;
    max-width: 320px; }
    .s-get-calc .f-get-calc .title {
      color: #303030;
      font: 700 18px / 30px Exo2; }
    .s-get-calc .f-get-calc .inp {
      display: inline-block; }
    .s-get-calc .f-get-calc:second-child input {
      margin: 0 4px; }
    .s-get-calc .f-get-calc input {
      height: 62px;
      padding-left: 23px;
      border-radius: 3px; }
    .s-get-calc .f-get-calc .input_small {
      height: 62px;
      width: 92px;
      display: inline-block;
      padding-left: 13px; }
    .s-get-calc .f-get-calc p {
      text-align: center; }
  .s-get-calc span {
    color: #0084ff;
    font: 700 18px / 30px Exo2; }
  .s-get-calc .today {
    color: #303030;
    font: 700 18px / 30px Exo2;
    text-transform: none; }
    .s-get-calc .today .c_blue {
      color: #0084ff;
      font: 700 24px / 30px Exo2;
      text-transform: uppercase; }
    .s-get-calc .today .c_yellow {
      color: #ffc000;
      font: 700 24px / 30px Exo2;
      text-transform: uppercase; }

.b-services-wrap .b-services-list {
  padding-top: 40px; }
  .b-services-wrap .b-services-list .item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 230px;
    margin-bottom: 40px; }
    .b-services-wrap .b-services-list .item .title {
      text-transform: uppercase;
      color: #303030;
      font: 700 14px / 14px Exo2;
      margin-bottom: 16px; }
    .b-services-wrap .b-services-list .item .line {
      display: inline-block;
      width: 20px;
      height: 3px;
      background-color: #ffc000;
      margin-bottom: 15px; }
    .b-services-wrap .b-services-list .item .img {
      width: 159px;
      height: 160px;
      margin: 0 auto; }
    .b-services-wrap .b-services-list .item .i_1 {
      background: url(../images/s-services_1.png) center no-repeat; }
    .b-services-wrap .b-services-list .item .i_2 {
      background: url(../images/s-services_2.png) center no-repeat; }
    .b-services-wrap .b-services-list .item .i_3 {
      background: url(../images/s-services_3.png) center no-repeat; }
    .b-services-wrap .b-services-list .item .i_4 {
      background: url(../images/s-services_4.png) center no-repeat; }
    .b-services-wrap .b-services-list .item .i_5 {
      background: url(../images/s-services_5.png) center no-repeat; }
  .b-services-wrap .b-services-list .owl-nav {
    top: 55%; }

.s-reviews {
  background: url(../images/bg_s-services.jpg) center no-repeat;
  border-top: 2px solid #aeaeae;
  background-size: cover; }
  .s-reviews .owl-nav {
    top: 30px;
    left: 35px;
    right: 35px; }
    .s-reviews .owl-nav .owl-prev {
      background: url(../images/arr_yellow_small.png);
      width: 43px;
      height: 42px; }
    .s-reviews .owl-nav .owl-next {
      background: url(../images/arr_yellow_small.png);
      width: 43px;
      height: 42px;
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .s-reviews .item {
    text-align: left; }
    .s-reviews .item .b_feedback .avatar {
      width: 101px;
      height: 100px;
      margin: 0 auto 9px;
      background-size: contain !important; }
    .s-reviews .item .b_feedback .name {
      color: #303030;
      font: italic 300 18px / 60px Exo2;
      text-align: center; }
    .s-reviews .item .b_feedback .feedback_txt {
      color: #303030;
      font: italic 300 16px / 24px Exo2; }
    .s-reviews .item .b_feedback .av_1 {
      background: url(../images/b-reviews-av_1.png) center no-repeat; }
    .s-reviews .item .b_feedback .av_2 {
      background: url(../images/b-reviews-av_2.png) center no-repeat; }
    .s-reviews .item .b_feedback .av_3 {
      background: url(../images/b-reviews-av_3.png) center no-repeat; }
    .s-reviews .item .b_feedback .av_4 {
      background: url(../images/b-reviews-av_4.png) center no-repeat; }
    .s-reviews .item .b_feedback .av_5 {
      background: url(../images/b-reviews-av_5.png) center no-repeat; }
    .s-reviews .item .b_feedback .av_6 {
      background: url(../images/b-reviews-av_6.png) center no-repeat; }
    .s-reviews .item .b_done .img {
      width: 211px;
      height: 161px;
      margin: 0 auto 38px;
      background-size: contain !important;
      border: 3px solid #0084ff; }
    .s-reviews .item .b_done .b_done_title {
      color: #0084ff;
      font: italic 600 18px / 18px Exo2;
      margin-bottom: 17px;
      text-align: center; }
    .s-reviews .item .b_done .i_1 {
      background: url(../images/b_done_i_1.png); }
    .s-reviews .item .b_done .i_2 {
      background: url(../images/b_done_i_2.png); }
    .s-reviews .item .b_done .i_4 {
      background: url(../images/b_done_i_4.png); }
    .s-reviews .item .b_done .i_5 {
      background: url(../images/b_done_i_5.png); }
    .s-reviews .item .b_done ul {
      margin-bottom: 25px; }
      .s-reviews .item .b_done ul li {
        text-align: left; }
    .s-reviews .item .b_done .gift .title {
      color: #0084ff;
      font: italic 700 18px / 18px Exo2;
      margin-bottom: 5px;
      text-align: center; }
    .s-reviews .item .b_done .gift p {
      color: #303030;
      font: 300 14px / 18px Exo2;
      font-style: normal;
      margin-bottom: 17px; }
    .s-reviews .item .b_done .gift .price {
      color: #0084ff;
      font: italic 700 18px / 18px Exo2;
      text-align: center; }
      .s-reviews .item .b_done .gift .price span {
        color: #ffc000;
        font: italic 700 18px / 18px Exo2; }

.blu_bg {
  background-color: rgba(51, 153, 255, 0.7);
  padding: 5px 10px;
  border-radius: 3px; }
  .blu_bg input {
    margin-bottom: 10px;
    padding-left: 23px; }

.s-main-form {
  padding-left: 5px;
  padding-right: 5px;
  background: url(../images/bg_s-main-form.jpg) center no-repeat; }
  .s-main-form .tit {
    color: #0084ff;
    font: 700 18px / 24px Exo2;
    text-transform: uppercase;
    margin-bottom: 10px; }
    .s-main-form .tit span {
      text-transform: none;
      color: #303030;
      font: 700 18px / 24px Exo2; }
  .s-main-form .gift {
    color: #0084ff;
    font: 700 24px / 24px Exo2;
    text-transform: uppercase;
    margin-bottom: 12px; }
    .s-main-form .gift span {
      color: #ffc000;
      font: 700 24px / 30px Exo2; }
  .s-main-form img {
    margin-bottom: 28px; }

.s-about {
  background: url(../images/bg_structure_big.jpg) center no-repeat;
  background-size: cover;
  padding: 0 5px 50px; }
  .s-about .tit {
    color: #0084ff;
    font: 700 24px / 30px Exo2;
    text-transform: uppercase;
    padding-top: 27px;
    margin-bottom: 19px; }
  .s-about .image {
    background: url(../images/mob_line.png) center no-repeat;
    height: 12px;
    width: 300px;
    margin: 0 auto 20px; }
  .s-about p {
    color: #303030;
    font: 400 18px / 24px Exo2;
    margin-bottom: 17px; }
  .s-about ul {
    margin: 0 auto; }
    .s-about ul a {
      text-decoration: none;
      color: #303030;
      font: 300 14px / 18px Exo2; }
    .s-about ul li {
      position: relative;
      padding-left: 50px;
      line-height: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left; }
      .s-about ul li:before {
        content: url(../images/mark.png);
        display: inline-block;
        width: 37px;
        height: 37px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        line-height: 40px; }

iframe {
  width: 560ph;
  height: 170px; }

.s-form-2 .title {
  color: #303030;
  font: 700 18px / 24px Exo2;
  text-transform: uppercase;
  text-align: center; }
  .s-form-2 .title span {
    color: #ffc000; }

.s-sert .item {
  display: inline-block;
  width: 185px;
  height: 253px; }
.s-sert .owl-nav {
  top: 100px;
  left: -7px;
  right: -7px; }
  .s-sert .owl-nav .owl-prev {
    background: url(../images/arr_yellow_small.png);
    width: 43px;
    height: 42px; }
  .s-sert .owl-nav .owl-next {
    background: url(../images/arr_yellow_small.png);
    width: 43px;
    height: 42px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

.b-map-adr {
  background-color: rgba(0, 132, 255, 0.8);
  color: #fff;
  padding: 31px;
  padding-top: 24px;
  text-align: left; }
  .b-map-adr .title {
    font: 400 18px / 30px Exo2;
    color: #ffc000;
    text-align: center;
    margin-bottom: 34px;
    text-transform: uppercase; }
  .b-map-adr .adr,
  .b-map-adr .tel,
  .b-map-adr .mail {
    padding-left: 34px; }
  .b-map-adr .b-adr-item {
    display: inline-block;
    vertical-align: middle; }
  .b-map-adr .adr {
    position: relative;
    margin-bottom: 22px; }
    .b-map-adr .adr:before {
      background: url(../images/icon_map.png) center no-repeat;
      content: "";
      width: 17px;
      height: 26px;
      position: absolute;
      display: block;
      left: 0;
      top: 5px; }
  .b-map-adr .tel {
    position: relative;
    font: 500 24px / 24px Exo2;
    margin-bottom: 23px; }
    .b-map-adr .tel:before {
      background: url(../images/icon_tel_small.png) center no-repeat;
      content: "";
      width: 20px;
      height: 21px;
      position: absolute;
      display: block;
      left: 0;
      top: 15px; }
  .b-map-adr .mail {
    position: relative;
    font: 400 18px / 18px Open Sans;
    margin-bottom: 18px; }
    .b-map-adr .mail:before {
      background: url(../images/icon_mail.png) center no-repeat;
      content: "";
      width: 23px;
      height: 17px;
      position: absolute;
      display: block;
      left: 0;
      top: 2px; }
  .b-map-adr p {
    font: 400 18px / 24px Exo2; }

.s-footer-form {
  background: url(../images/bg_structure.png) center no-repeat;
  padding-bottom: 50px; }
  .s-footer-form input {
    background-color: #ffffff;
    padding-left: 23px;
    margin-bottom: 15px;
    height: 62px; }
  .s-footer-form input + input {
    margin-bottom: 27px; }
  .s-footer-form .title {
    margin-bottom: 19px;
    text-transform: none;
    color: #303030;
    font: 600 24px / 30px Exo2; }

input[type="text"]::-webkit-input-placeholder {
  color: #808080;
  font: 300 18px / 18px Exo2; }

.s-footer-info .title {
  text-transform: none; }

.btn-small {
  padding: 6px 10px !important;
  font: 400 14px / 14px Exo2 !important; }

.hidden-sm {
  display: none !important; }

.s-bull {
  margin: 0 auto;
  background: url(../images/bg_s-bull.png) center no-repeat;
  background-size: cover; }
  .s-bull .b-bull-wrap {
    border: 3px solid #0084ff;
    padding: 40px;
    border: none; }

.b-bull-wrap .owl-nav {
  left: -50px;
  right: -50px;
  top: -7%; }
  .b-bull-wrap .owl-nav .owl-prev {
    background: url(../images/arr.png) center no-repeat;
    width: 63px;
    height: 62px; }
  .b-bull-wrap .owl-nav .owl-next {
    background: url(../images/arr.png) center no-repeat;
    width: 63px;
    height: 62px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

/* ********************************** */
/* end main */
/* ********************************** */
@media (min-width: 768px) {
  .title {
    font: 700 36px / 48px Exo2; }

  .s-title {
    font: 700 36px / 60px Exo2; }

  .s-header {
    padding: 0; }

  .b_info {
    width: 100%;
    padding-top: 5px; }

  .btn-blue {
    margin-top: 5px !important;
    vertical-align: top;
    width: 249px;
    padding: 18px 15px !important;
    color: #ffffff; }

  .b_info .logo {
    margin-right: 26px; }
  .b_info .title {
    position: relative;
    display: inline-block;
    width: 122px;
    vertical-align: top;
    text-align: left;
    margin-right: 15px; }
  .b_info .info-tel {
    margin-right: 20px; }

  .s-main-top {
    background: url(../images/bg-s-main.jpg) bottom no-repeat;
    padding-top: 54px;
    min-height: 800px;
    background-size: cover; }

  .s-top-title {
    color: #0084ff;
    font: 700 34px / 30px Exo2;
    text-transform: uppercase;
    margin-bottom: 36px; }
    .s-top-title .text_1 {
      color: #404040;
      font: 700 24px / 30px Exo2;
      text-transform: none; }
    .s-top-title .text_2 {
      color: #404040;
      font: 700 24px / 30px Exo2;
      text-transform: none; }
    .s-top-title i {
      color: #0084ff;
      font: 700 24px / 30px Exo2;
      text-decoration: underline; }

  .s-stock {
    margin: 20px auto 0;
    width: 450px;
    border: 6px solid #ffc000;
    margin-bottom: 30px; }
    .s-stock .container {
      width: 400px; }
    .s-stock .b-item-list .item {
      text-align: left; }
      .s-stock .b-item-list .item span {
        vertical-align: middle; }
    .s-stock .icon {
      display: inline-block;
      margin-right: 16px;
      vertical-align: middle; }
    .s-stock .attention-top,
    .s-stock .attention-bottom {
      text-align: left; }

  .s-bullets_top {
    position: relative; }
    .s-bullets_top .b-bullets {
      z-index: 20;
      border: 3px solid #0084ff;
      background-color: rgba(255, 255, 255, 0.8);
      height: 130px; }
      .s-bullets_top .b-bullets span {
        color: #0084ff;
        font: 600 15.79px / 18px Open Sans; }
      .s-bullets_top .b-bullets .icon {
        margin-bottom: 5px; }
      .s-bullets_top .b-bullets .icon {
        width: 97px;
        height: 96px;
        box-sizing: border-box;
        background-size: contain;
        margin: 0 auto 9px; }
      .s-bullets_top .b-bullets .item {
        background-size: contain;
        position: relative;
        top: -52px;
        width: 23%;
        margin: 0; }

  .s-get-calc .title {
    font: 700 36px / 48px Exo2;
    margin-bottom: 48px; }
    .s-get-calc .title span {
      font: 700 36px / 48px Exo2; }
  .s-get-calc .img {
    background: url(../images/s-get-calc_window.png);
    width: 317px;
    height: 243px;
    display: inline-block;
    margin-right: 7px; }
  .s-get-calc .items {
    display: inline-block;
    vertical-align: top !important; }

  .s-discount {
    font: 700 28px / 36px Exo2;
    padding-top: 40px;
    padding-bottom: 14px; }
    .s-discount .text {
      margin-bottom: 13px; }
      .s-discount .text .text_1 {
        font: 700 28px / 30px Exo2; }
      .s-discount .text .text_2 {
        font: 700 24px / 30px Exo2; }
    .s-discount p {
      font: 300 24px / 24px Exo2; }

  .b-form {
    padding: 0; }
    .b-form .f-get-calc {
      max-width: 100%; }
    .b-form .items {
      margin-left: -10px;
      margin-right: -10px; }
    .b-form input {
      width: 217px;
      margin-right: 7px; }
    .b-form .f-get-calc input {
      padding-left: 20px; }
    .b-form .section {
      padding: 0; }

  .s-bull {
    margin: 0 auto; }
    .s-bull .b-bull-wrap {
      border: 3px solid #0084ff;
      padding: 70px; }
      .s-bull .b-bull-wrap .item {
        padding: 0 20px; }

  .b-bull-wrap .owl-nav {
    left: -100px;
    right: -100px;
    top: 30%; }

  .s-types {
    background: url(../images/bg_structure_big.jpg) center no-repeat;
    padding-top: 76px;
    padding-bottom: 48px;
    background-size: cover; }
    .s-types .s-title {
      color: #303030;
      font: 700 48px / 48px Exo2; }
    .s-types img {
      margin-bottom: 50px; }
    .s-types .b-types-list .item {
      display: inline-block;
      vertical-align: top; }
      .s-types .b-types-list .item .title {
        text-transform: uppercase;
        font: 700 14px / 16px Exo2;
        color: #0084ff;
        margin-bottom: 20px;
        height: 28px; }
      .s-types .b-types-list .item .img {
        background-repeat: no-repeat !important;
        margin: 0 auto;
        margin-bottom: 10px; }
      .s-types .b-types-list .item .i_1 {
        background: url(../images/w_1.png) center no-repeat;
        width: 110px;
        height: 115px; }
      .s-types .b-types-list .item .i_2 {
        background: url(../images/w_2.png) center no-repeat;
        width: 164px;
        height: 115px; }
      .s-types .b-types-list .item .i_3 {
        background: url(../images/w_3.png) center no-repeat;
        width: 145px;
        height: 115px; }
      .s-types .b-types-list .item .i_4 {
        background: url(../images/w_4.png) center no-repeat;
        width: 122px;
        height: 115px; }
      .s-types .b-types-list .item .i_5 {
        background: url(../images/w_5.png) center no-repeat;
        width: 84px;
        height: 115px; }
      .s-types .b-types-list .item .price {
        color: #303030;
        font: 600 18px / 18px Exo2;
        position: relative;
        margin: 0 auto;
        margin-bottom: 10px; }
      .s-types .b-types-list .item .rub {
        display: inline-block;
        width: 13px;
        height: 13px;
        left: 130px;
        top: 3px;
        background: url(../images/ruble.png) center no-repeat;
        margin-left: 2px; }
      .s-types .b-types-list .item button {
        background-color: #ffc000; }

  .s-reviews .owl-nav {
    top: 60px;
    left: 45px;
    right: 400px; }
  .s-reviews .item {
    text-align: left; }
    .s-reviews .item .b_feedback .avatar {
      width: 152px;
      height: 151px;
      margin: 0 auto 15px; }
    .s-reviews .item .b_feedback .name {
      font: italic 300 18px / 60px Exo2; }
    .s-reviews .item .b_feedback .feedback_txt {
      font: italic 300 16px / 24px Exo2; }
    .s-reviews .item .b_done .img {
      width: 235px;
      height: 180px;
      margin: 0;
      margin-bottom: 38px; }
    .s-reviews .item .b_done .b_done_title {
      color: #0084ff;
      font: italic 600 18px / 18px Exo2;
      margin-bottom: 17px;
      text-align: left; }
    .s-reviews .item .b_done ul {
      margin-bottom: 25px; }
      .s-reviews .item .b_done ul li {
        text-align: left; }
    .s-reviews .item .b_done .gift .title {
      font: italic 600 24px / 18px Exo2;
      margin-bottom: 5px;
      text-align: left; }
    .s-reviews .item .b_done .gift p {
      font: 300 14px / 18px Exo2;
      font-style: normal;
      margin-bottom: 17px; }
    .s-reviews .item .b_done .gift .price {
      font: italic 600 24px / 18px Exo2;
      text-align: left; }
      .s-reviews .item .b_done .gift .price span {
        font: italic 600 24px / 18px Exo2; }

  .s-about ul {
    padding-left: 60px; }

  iframe {
    width: 591px;
    height: 337px;
    margin-bottom: 50px; }

  .s-reviews .s-title {
    font: 700 36px / 60px Exo2; }

  .s-map {
    position: relative; }
    .s-map .b-adr {
      max-width: 420px; }
    .s-map .b-map-adr {
      background-color: rgba(0, 132, 255, 0.8);
      max-width: 420px;
      position: absolute;
      top: 50px; }
      .s-map .b-map-adr .title {
        font: 700 24px / 24px Exo2; }
      .s-map .b-map-adr .adr {
        font: 300 24px / 24px Exo2; }
      .s-map .b-map-adr .tel {
        font: 600 24px / 24px Exo2; }
      .s-map .b-map-adr .mail {
        font: 300 24px / 24px Open Sans; }
      .s-map .b-map-adr p {
        display: inline-block;
        margin-right: 16px;
        margin-bottom: 20px; }
      .s-map .b-map-adr .image {
        background: url(../images/s-map-office.jpg);
        height: 315px;
        width: 420px;
        position: relative;
        margin-left: -31px;
        margin-bottom: -31px; } }
@media (min-width: 992px) {
  .b-services-wrap .b-services-list {
    padding-top: 40px; }
    .b-services-wrap .b-services-list .item {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 180px;
      margin-bottom: 40px; }
      .b-services-wrap .b-services-list .item .title {
        text-transform: uppercase;
        color: #303030;
        font: 700 14px / 14px Exo2;
        margin-bottom: 16px; }
      .b-services-wrap .b-services-list .item .line {
        display: inline-block;
        width: 20px;
        height: 3px;
        margin-bottom: 15px; } }
