@import url(fonts.css);
/* line 3, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 4, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 5, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
::-webkit-input-placeholder {
  color: #afafaf;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300; }

/* line 6, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
:-moz-placeholder {
  color: #afafaf;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300; }

/* line 7, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
::-moz-placeholder {
  color: #afafaf;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300; }

/* line 8, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
:-ms-input-placeholder {
  color: #afafaf;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300; }

/* line 9, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
input[placeholder] {
  color: #afafaf;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300; }

/* line 10, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 11, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 12, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
  max-width: 100%; }

/* line 13, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
img {
  height: auto; }

/* line 14, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 15, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
textarea {
  resize: vertical; }

/* line 16, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
p {
  margin: 0;
  line-height: 1.6; }

/* line 17, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
a {
  text-decoration: underline;
  color: #c2c2c2;
  cursor: pointer; }

/* line 18, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
a:hover {
  text-decoration: none;
  color: #c2c2c2; }

/* line 19, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
h1, h2, h3 {
  font-family: "exo2", Arial; }

/* line 20, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
h2 {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 0;
  color: #004196;
  font-weight: 700;
  text-align: center; }

/* line 21, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  margin-top: 0; }

/* line 22, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: #1b2327;
  text-align: center; }

/* line 23, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 24, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.cf:before, .cf:after {
  content: " ";
  display: table; }

/* line 25, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.cf:after {
  clear: both; }

/* line 26, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.cf {
  *zoom: 1; }

/* line 28, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.btn {
  font-size: 16px;
  display: inline-block;
  padding: 7px 10px;
  max-width: 100%;
  white-space: nowrap;
  font-weight: 600;
  background-color: #ff8a00;
  box-shadow: 1px 2px 2px #9A5100;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  position: relative; }

/* line 30, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
form {
  max-width: 365px;
  margin: 5px auto;
  font-size: 0; }

/* line 31, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
form input {
  border: 0;
  padding: 10px 10px 10px 70px;
  margin-bottom: 5px;
  width: 100%;
  outline: none;
  background: #eee;
  border-radius: 5px;
  border: 2px solid transparent;
  /*box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.14);*/ }

/* line 32, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
form .btn {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding: 13px 3px;
  margin: 0 0 10px; }

/* line 33, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
form .field_error {
  border-color: red; }

/* line 35, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.container {
  max-width: 980px; }

/* line 36, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.section {
  padding: 20px 0; }

/* line 37, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.section .title {
  font-family: "exo2";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase; }

/* line 39, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.dark {
  position: fixed;
  display: none;
  z-index: 80;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.51); }

/* line 40, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 90; }

/* line 41, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.popup:before {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: ''; }

/* line 42, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.popup-wrap {
  position: relative;
  /*width: 400px;*/
  max-width: 90%;
  z-index: 99;
  vertical-align: middle;
  display: inline-block; }

/* line 45, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.polit-popup,
.form-popup-dog,
.form-popup {
  display: none;
  position: relative;
  z-index: 99;
  vertical-align: middle;
  padding: 20px;
  border: 1px solid white;
  border-radius: 3px; }

/* line 46, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.polit-popup {
  background: #fff;
  max-height: 700px;
  padding: 40px 10px 10px;
  text-align: left; }

/* line 47, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.polit-popup .txt {
  overflow-y: scroll;
  height: 100%; }

/* line 48, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.polit-popup .closepopup {
  color: #000; }

/* line 49, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.form-popup {
  background: #1b2327; }

/* line 50, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.form-popup .f-title {
  font-size: 20px;
  color: #eee;
  line-height: 1;
  margin-bottom: 20px; }

/* line 51, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.form-popup input {
  padding: 10px;
  text-align: center; }

/* line 52, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.closepopup {
  position: absolute;
  top: -4px;
  right: 3px;
  font-size: 30px;
  cursor: pointer;
  color: #fff; }

/* line 54, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.popup-success-dog,
.popup-success, .popup-error {
  display: none;
  font-size: 24px;
  color: #fff;
  width: 98%;
  max-width: 470px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
  padding: 20px 40px;
  background: #2E3B5C;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.38); }

/* line 56, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.popup-success-dog > p,
.popup-success > p, .popup-error > p {
  font-weight: 600;
  font-size: 35px;
  line-height: 30px;
  margin: 0 0 20px 0;
  text-align: center; }

/* line 58, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.popup-success-dog > p + p,
.popup-success > p + p, .popup-error > p + p {
  font-size: 24px;
  line-height: 1; }

/* line 60, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
.popup-success-dog .btn,
.popup-success .btn {
  width: 50%; }

@media (min-width: 768px) {
  /* line 65, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
  .section {
    padding: 50px 0; }
  /* line 67, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
  .form-more-popup .popup-more-left {
    width: 100px;
    height: 100px;
    background-size: auto;
    background-color: #fff;
    display: inline-block;
    position: static;
    vertical-align: middle;
    margin: 0; }
  /* line 68, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
  .form-more-popup .popup-more-right {
    width: 50%;
    float: right;
    padding-left: 5%; }
  /* line 69, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
  .form-more-popup .form-tire-more {
    width: 100%; }
  /* line 70, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
  .form-more-popup .img {
    width: 100%;
    height: 200px; }
  /* line 71, E:/mail.cloud/FL/105-okna-arsenal/css/main-old.scss */
  .form-more-popup .txt {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 1em; } }

/*# sourceMappingURL=main-old.css.map */