#stickyheader {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.19);
  display: none; }
  #stickyheader ul {
    width: 100%;
    text-align: center; }
    #stickyheader ul li {
      display: inline-block;
      width: 24%;
      border-right: 1px solid #ededed; }
      #stickyheader ul li:last-child {
        border-right: none; }
      #stickyheader ul li a {
        color: #303030;
        font: 400 14px / 18px Exo2;
        padding-top: 13px;
        padding-bottom: 13px;
        display: block;
        text-decoration: none; }

.b_info {
  background-color: #fff;
  position: relative;
  padding-top: 33px;
  padding-bottom: 27px;
  width: 320px;
  margin: 0 auto; }
  .b_info .logo {
    background: url(../images/logo.png);
    width: 125px;
    height: 63px;
    display: inline-block;
    margin-right: 15px;
    text-align: left; }
  .b_info .title {
    color: #0084ff;
    font: 600 14px / 14px Exo2;
    position: absolute;
    top: 12px;
    display: block; }
  .b_info .info-tel {
    width: 150px;
    display: inline-block; }
    .b_info .info-tel .time {
      color: #606060;
      font: 300 12px / 18px Exo2; }
      .b_info .info-tel .time span {
        color: #202020;
        font: 600 12px / 18px Exo2; }
    .b_info .info-tel .tel {
      position: relative; }
      .b_info .info-tel .tel a {
        color: #0084ff;
        font: 600 14px / 18px Exo2;
        text-align: left;
        padding-left: 37px;
        position: relative;
        text-decoration: none; }
      .b_info .info-tel .tel:before {
        background: url(../images/icon_tel.png);
        content: "";
        display: block;
        width: 30px;
        height: 31px;
        position: absolute;
        left: 0;
        top: 5px; }
  .b_info .btn-blue {
    color: #ffffff;
    font: 600 18px / 24px Exo2;
    background-color: #0084ff;
    box-shadow: 0 3px 0 0 #0057b9;
    padding: 18px 40px;
    margin-top: 20px; }

.s-commercial {
  background: url(../images/bg_s_main-mob.png);
  padding-top: 63px;
  padding-bottom: 30px;
  background-size: cover; }
  .s-commercial .s-commercial_top {
    background: rgba(255, 255, 255, 0.8);
    padding-top: 17px;
    padding-bottom: 13px; }
    .s-commercial .s-commercial_top .s-commercial_top_title {
      font: 700 24px / 30px Exo2;
      text-transform: uppercase;
      color: #0084ff; }
      .s-commercial .s-commercial_top .s-commercial_top_title span {
        color: #303030;
        font: 700 24px / 30px Exo2; }
    .s-commercial .s-commercial_top p {
      color: #303030;
      font: 500 18px / 24px Exo2;
      line-height: 12px; }
      .s-commercial .s-commercial_top p span {
        color: #0084ff;
        font: 700 18px / 24px Exo2;
        text-decoration: underline; }

.s-bullets_top {
  background-color: #fff;
  font-size: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding-bottom: 35px; }
  .s-bullets_top .item {
    display: inline-block;
    width: 105px;
    color: #303030;
    font: 600 14px / 18px OpenSans;
    vertical-align: top;
    margin: 15px 20px; }
  .s-bullets_top .icon {
    width: 108px;
    height: 108px;
    display: block; }
  .s-bullets_top .item1 {
    background: url(../images/icon_s-bullets_top_i3.png); }
  .s-bullets_top .item2 {
    background: url(../images/icon_s-bullets_top_i4.png); }
  .s-bullets_top .item3 {
    background: url(../images/icon_s-bullets_top_i2.png); }
  .s-bullets_top .item4 {
    background: url(../images/icon_s-bullets_top_i1.png); }
  .s-bullets_top span {
    text-align: center; }

.s-stock {
  border: 4px solid #ffc000;
  padding-top: 30px;
  padding-bottom: 50px;
  margin: 0 6px; }
  .s-stock .text {
    text-align: center; }
    .s-stock .text span {
      color: #0084ff;
      background-color: #fff;
      font: 700 36px / 60px Exo2;
      text-transform: uppercase;
      padding: 20px; }
  .s-stock .attention-top {
    margin-top: -60px; }
  .s-stock .attention-bottom {
    margin-bottom: -85px; }
  .s-stock .title {
    color: #303030;
    font: 700 18px / 24px Exo2;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0 40px;
    margin-bottom: 25px; }
  .s-stock .item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 25px;
    width: 49%; }
  .s-stock .icon {
    width: 46px;
    height: 46px;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0 auto; }
  .s-stock .item1 {
    background: url(../images/icon_s-stock_i1.png) no-repeat; }
  .s-stock .item2 {
    background: url(../images/icon_s-stock_i2.png) no-repeat; }
  .s-stock .item3 {
    background: url(../images/icon_s-stock_i3.png) no-repeat; }
  .s-stock .item4 {
    background: url(../images/icon_s-stock_i4.png) no-repeat; }

.s-discount {
  color: #0084ff;
  font: 700 18px / 30px Exo2;
  text-transform: uppercase;
  background-color: #fff;
  padding-top: 40px; }
  .s-discount .text {
    margin-bottom: 13px; }
    .s-discount .text .text_1 {
      color: #ffc000;
      font: 700 28px / 30px Exo2; }
    .s-discount .text .text_2 {
      font: 700 24px / 30px Exo2; }
  .s-discount p {
    color: #303030;
    font: 300 18px / 18px Exo2;
    text-transform: none; }

.send-btn {
  color: #202020;
  font: 700 18px/60px Exo2 !important;
  padding: 0px 20px !important; }

.s-get-calc {
  text-transform: uppercase;
  padding-top: 36px;
  padding-left: 5px;
  padding-right: 5px;
  background: url(../images/bg_s-get-calc.png);
  margin: 0 auto; }
  .s-get-calc .f-get-calc {
    background-color: rgba(51, 153, 255, 0.7);
    padding: 10px 10px;
    border-radius: 3px;
    text-align: justify;
    max-width: 320px; }
    .s-get-calc .f-get-calc .title {
      color: #303030;
      font: 700 18px / 30px Exo2; }
    .s-get-calc .f-get-calc .inp {
      display: inline-block; }
    .s-get-calc .f-get-calc:second-child input {
      margin: 0 4px; }
    .s-get-calc .f-get-calc input {
      height: 62px;
      padding-left: 23px;
      border-radius: 3px; }
    .s-get-calc .f-get-calc .input_small {
      height: 62px;
      width: 92px;
      display: inline-block;
      padding-left: 13px; }
    .s-get-calc .f-get-calc p {
      text-align: center; }
  .s-get-calc span {
    color: #0084ff;
    font: 700 18px / 30px Exo2; }
  .s-get-calc .today {
    color: #303030;
    font: 700 18px / 30px Exo2;
    text-transform: none; }
    .s-get-calc .today .c_blue {
      color: #0084ff;
      font: 700 24px / 30px Exo2;
      text-transform: uppercase; }
    .s-get-calc .today .c_yellow {
      color: #ffc000;
      font: 700 24px / 30px Exo2;
      text-transform: uppercase; }
  .s-get-calc .send-btn {
    padding: 0px 5px !important; }

.blu_bg {
  background-color: rgba(51, 153, 255, 0.7);
  padding: 5px 10px;
  border-radius: 3px; }
  .blu_bg input {
    margin-bottom: 10px;
    padding-left: 23px; }

.s-main-form {
  padding-left: 5px;
  padding-right: 5px;
  background: url(../images/bg_s-main-form.png) no-repeat; }
  .s-main-form .tit {
    color: #0084ff;
    font: 700 18px / 24px Exo2;
    text-transform: uppercase;
    margin-bottom: 10px; }
    .s-main-form .tit span {
      text-transform: none;
      color: #303030;
      font: 700 18px / 24px Exo2; }
  .s-main-form .gift {
    color: #0084ff;
    font: 700 24px / 24px Exo2;
    text-transform: uppercase;
    margin-bottom: 12px; }
    .s-main-form .gift span {
      color: #ffc000;
      font: 700 24px / 30px Exo2; }
  .s-main-form img {
    margin-bottom: 28px; }

.s-about {
  background: url(../images/bg_s-about.png);
  padding: 0 5px 50px; }
  .s-about .tit {
    color: #0084ff;
    font: 700 24px / 30px Exo2;
    text-transform: uppercase;
    padding-top: 27px;
    margin-bottom: 19px; }
  .s-about .image {
    background: url(../images/mob_line.png);
    height: 12px;
    width: 300px;
    margin: 0 auto 20px; }
  .s-about p {
    color: #303030;
    font: 400 18px / 24px Exo2;
    margin-bottom: 17px; }
  .s-about ul {
    margin: 0 auto; }
    .s-about ul a {
      text-decoration: none;
      color: #303030;
      font: 300 14px / 18px Exo2; }
    .s-about ul li {
      position: relative;
      padding-left: 50px;
      line-height: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left; }
      .s-about ul li:before {
        content: url(../images/mark.png);
        display: inline-block;
        width: 37px;
        height: 37px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        line-height: 40px; }
